body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Less Functions */
/* Colours */
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto"');
}
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Roboto"');
}
.text-light {
  color: #A1D1E6 !important;
}
.text-mid {
  color: #9FBBC7 !important;
}
.generalText {
  font-family: 'Roboto', serif;
  font-size: 12px;
  line-height: 14px;
  color: #E3F4FC;
}
.mont {
  font-family: 'Montserrat', sans-serif;
}
/* General Stylings */
.flex {
  display: flex;
}
.flex-centre {
  justify-content: center;
}
.relative {
  position: relative;
}
.pageContainer {
  width: 100vw;
  min-height: 100vh;
  top: 0;
  display: block;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.lockScroll {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.dataRow {
  text-align: center;
  font-weight: 700;
}
.dataRow-green {
  background-color: #01D277 !important;
}
.dataRow-red {
  background-color: #c02743 !important;
  color: #fff;
}
.dataRow-orange {
  background-color: #ff8c75 !important;
}
.dataRow-avg {
  background-color: #ccc !important;
}
.homeButton {
  border-radius: 4px;
  background-color: #6c4498;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 2px 15px;
  margin: 4px;
  cursor: pointer;
}
.homeButton-trash {
  background-color: #767676;
}
.TableName {
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
}
