body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  background-attachment: fixed;
  background-image: url('./assets/Pika.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: initial;
}

@media only screen and (max-width: 800px) {
  body {
    background-size: contain;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.type_normal {
  background-color: #a7a878;
}
.type_fire {
  background-color: #f07f30;
}
.type_water {
  background-color: #678ff0;
}
.type_electric {
  background-color: #f8d030;
}
.type_grass {
  background-color: #77c850;
}
.type_ice {
  background-color: #99d8d8;
}
.type_fighting {
  background-color: #c13028;
}
.type_poison {
  background-color: #a040a0;
}
.type_ground {
  background-color: #e0c068;
}
.type_flying {
  background-color: #a890f0;
}
.type_psychic {
  background-color: #f85887;
}
.type_bug {
  background-color: #a9b820;
}
.type_rock {
  background-color: #b8a038;
}
.type_ghost {
  background-color: #6f5898;
}
.type_dragon {
  background-color: #6f38f8;
}
.type_dark {
  background-color: #705847;
}
.type_steel {
  background-color: #b8b8d0;
}
.type_fairy {
  background-color: #ffaec9;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
